<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.serverpc.ssh-control.enforcer</string>
    <key>CFBundleName</key>
    <string>Mac SSH Manager Expiry Enforcer</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
</dict>
</plist>
